* {
    margin: 0%;
    padding: 0%;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-content: stretch;
}

nav {
    padding: 2% 0%;
    flex: 1;
    background-color: #df3df4;
}

nav > p {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.main__content {
    display: inline-flex;
    flex-flow: row;
    align-items: stretch;
    position: relative;
}

section {
    flex: 1;
    padding: 1%;
    margin: 1%;
    background: #75eab9;
}

section > section {
    position: relative;
    top: 0%;
    display: flex;
}

section > button {
    padding: 1%;
    margin: 3px;
    flex: 1 1 auto;
    text-align: center;
    flex-wrap: nowrap;
}
