body {
    margin: 0;
    background: linear-gradient(to left, #ef629f, #eecda3);
}

.container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    position: relative;
    align-items: stretch;
}

.nav__content,
.dropdown {
    background: #ef629f; /* fallback for old browsers */
    border: 2px solid #eecda3;
    border-radius: 8px;
    width: 100%;
    margin: 1% 1%;
}

ul {
    width: 99%;
    display: flex;
    flex-wrap: row;
}

ul > li {
    list-style: none;
    display: inline-block;
    width: 12%;
    margin: 0;
    flex-wrap: row;
}

li > a {
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: black;
    text-align: center;
}

a:after {
    position: relative;
    display: block;
    content: "";
    left: 50%;
    top: 80%;
    height: 2px;
    width: 0%;
    background: #eecda3;
    transition: width 0.3s, left 0.3s;
}

a:hover:after {
    width: 100%;
    left: 0%;
}

.dropdown {
    width: fit-content;
    text-align: center;
    padding: 0.5% 4%;
}

ul.dropdown {
    display: block;
    position: absolute;
    top: 70%;
    left: 25%;
}

ul.dropdown > li {
    display: inline;
}

@media (max-width: 720px) {
    body {
        margin: 0;
    }
    ul {
        display: block;
    }
    ul > li {
        display: block;
        width: 80%;
    }
}
